@mixin clearfix
	display: block
	&:after
		content: "."
		display: block
		clear: both
		visibility: hidden
		line-height: 0
		height: 0

@mixin override
	list-style-type: none
	-webkit-margin-before: 0em
	-webkit-margin-after: 0em
	-webkit-margin-start: 0px
	-webkit-margin-end: 0px
	-webkit-padding-start: 0px

*
	box-sizing: border-box

body
	background: #FDF6E3
	text-align: center

h1
	font-family: "Rambla"
	font-weight: 400

.menu
	@include override
	@include clearfix
	//overflow: hidden
	margin: auto
	width: 35%
	border-radius: 5px
	position: relative
	padding: 0 10px 10px

.menu > li
	float: left
	width: 25%
	text-align: center
	border-top: 3px solid #888
	&:first-child
		border-radius: 10px 0 0 10px
	&:last-child
		border-radius: 0 10px 10px 0
	&:hover
		border-top: 3px solid #CB4A17
	.submenu
		&:first-child
			border-top-left-radius: 5px
		&:last-child
			border-top-right-radius: 5px
		

.submenu
	@include override
	border-radius: 5px
	position: relative
	top: 0em
	-webkit-transition: top 0.5s
	z-index: 1
	height: 3.5em
	&:hover
		+ .label
			opacity: 1
			top: -5.15em
		li
			&:nth-child(2), &:nth-child(3), &:nth-child(4)
				top: 0
				opacity: 1
				box-shadow: 0 2px 10px rgba(0,0,0,0.35)
			&:nth-child(1)
				border-bottom-left-radius: 0 !important
				border-bottom-right-radius: 0 !important
				background: -webkit-linear-gradient(#565656, #3C3C3C)
				i
					color: #CB4A17
					text-shadow: 0 1px 1px rgba(0,0,0,0.25)
	&:active
		top: 0em
	li
		background: #565656
		padding: 1em 0 0.75em
		border-bottom: 1px solid #333
		border-top: 1px solid #666
		border-right: 1px solid #333
		border-left: 1px solid #666
		z-index: 10
		position: relative
		&:nth-child(1)
			box-shadow: 0 2px 10px rgba(0,0,0,0.35)
			border
		&:nth-child(2)
			top: -3.4em
			z-index: 8
			opacity: 0
			-webkit-transition: top 0.35s
		&:nth-child(3)
			top: -6.8em
			z-index: 6
			opacity: 0
			-webkit-transition: top 0.35s
		&:nth-child(4)
			top: -10.2em
			z-index: 4
			opacity: 0
			-webkit-transition: top 0.35s
		&:hover
			background: -webkit-linear-gradient(#565656, #3C3C3C)
			i
				color: #CB4A17
				text-shadow: 0 1px 1px rgba(0,0,0,0.25)

.menu li:first-child .submenu
	li
		border-left: none
		&:first-child
			border-radius: 5px 0 0 5px
		&:last-child
			border-bottom-left-radius: 5px

.menu li:last-child .submenu
	li
		border-right: none
		&:first-child
			border-radius: 0 5px 5px 0
		&:last-child
			border-bottom-right-radius: 5px

.label
	font-family: "Rambla"
	font-weight: 700
	color: #CB4A17
	position: relative
	top: -3em
	opacity: 0
	-webkit-transition: all 0.25s

i[class*="icon"]
	font-size: 1.5em
	text-shadow: 0 1px 1px rgba(255,255,255,0.15)


