%html
	%head
		%link{:href => "css/style.css", :rel => "stylesheet"}
		%link{:href => "http://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css", :rel => "stylesheet"}
		%link{:href => "http://fonts.googleapis.com/css?family=Rambla:400,700", :rel => "stylesheet"}
	%body
		%h1 Thumbnail Gallery
		%ul
			%li
			%li
			%li
		%span.detail
		%ul
			%li
			%li
			%li
		%span.detail
		%ul
			%li
			%li
			%li
		%span.detail