%html
	%head
		%link{:href => "css/style.css", :rel => "stylesheet"}
		%link{:href => "http://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css", :rel => "stylesheet"}
		%link{:href => "http://fonts.googleapis.com/css?family=Rambla:400,700", :rel => "stylesheet"}
	%body
		%h1 Thumbnail Gallery
		%ul
			%li
			%li
			%li
			%li
			%li
			%li
		%span.detail
			%h2 Project Title
			.project-photos
			.prject-description	
				%h3 Project Description
				%p
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent velit tortor, semper at aliquam eget, ullamcorper vel risus. Nulla semper rhoncus dui id ultricies. In id diam vel augue pharetra ornare eu a magna. Vestibulum quis risus laoreet enim egestas vehicula non quis tellus. In sapien orci, condimentum ac accumsan at, ornare accumsan arcu. Integer et euismod est.
				%h4.quote
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		%ul
			%li
			%li
			%li
			%li
			%li
			%li
		%span.detail
			%h2 Project Title
			.project-photos
			.prject-description	
				%h3 Project Description
				%p
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent velit tortor, semper at aliquam eget, ullamcorper vel risus. Nulla semper rhoncus dui id ultricies. In id diam vel augue pharetra ornare eu a magna. Vestibulum quis risus laoreet enim egestas vehicula non quis tellus. In sapien orci, condimentum ac accumsan at, ornare accumsan arcu. Integer et euismod est.
				%h4.quote
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		%ul
			%li
			%li
			%li
			%li
			%li
			%li
		%span.detail
		%ul
			%li
			%li
			%li
			%li
			%li
			%li
		%span.detail
		%ul
			%li
			%li
			%li
			%li
			%li
			%li
		%span.detail
		%ul
			%li
			%li
			%li
			%li
			%li
			%li
		%span.detail